PUBLIC_NOSTR_RELAYS=wss://purplepag.es
PUBLIC_NIP05_DOMAIN=
PUBLIC_CASCADE_MAINNET_MINT_URL=https://mint.f7z.io
PUBLIC_CASCADE_MAINNET_API_URL=https://mint.f7z.io
PUBLIC_CASCADE_SIGNET_MINT_URL=https://signet-mint.cascade.f7z.io
PUBLIC_CASCADE_SIGNET_API_URL=https://signet-mint.cascade.f7z.io
PUBLIC_CASCADE_MAINNET_ENABLE_STRIPE_TOPUPS=false
PUBLIC_CASCADE_SIGNET_ENABLE_STRIPE_TOPUPS=false
